<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="row">
    <h1 class="text-center mb-5">Recuperaci칩n de Contrase침a</h1>

    {{#if success}}
    <p>{{success}}</p>
    {{/if}}

    {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}

    <form action="/api/auth/recover-request" method="post">
      <label for="email" class="form-label">Correo electr칩nico:</label>
      <input type="email" name="email" class="form-control mb-3" placeholder="Email" required>
      <button type="submit" class="btn btn-primary">Enviar correo de recuperaci칩n</button>
    </form>
  </div>
</div>